@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 100vw;
}

html,
body {
  overflow-x: hidden;
}

@theme {
  --color-blue-app: #003090;
  --color-black-app: #141725;
  --color-red-app: #d92121;
  --color-gray-app: #e9eef5;
  --color-white-app: #ffffff;
  --font-roboto-condensed: "Roboto-Condensed", sans-serif;
  --font-cabin: "cabin", sans-serif;
}

mark {
  background-color: var(--color-blue-app); /* El color de resaltado (fondo) */
  color: white; /* El color del texto dentro del resaltado */
  padding: 0.2rem;
}
